<% if resource.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <p>
      <strong>
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: "usuario")
       %>
     </strong>
    </p>
    <ul>
      <% resource.errors.each do |attr,message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
