<h1>Editing Equipment</h1>

<%= render 'form', equipment: @equipment %>

<%= link_to 'Show', [@equipment.lab_space.lab, @equipment.lab_space, @equipment] %> |
<%= link_to 'Back', lab_lab_space_equipment_index_path %>
