// _calendar.scss
// Everything related to the reservations calendar
.fc-event {
  position: relative;
  span.removebtn {
    cursor: pointer;
    font-size: 14px;
    font-weight: 800;
    position: absolute;
    right: 6px;
    top: 1px;
    z-index: 2;
  }
}
.fc-axis.fc-time {
  text-transform: uppercase;
}

