// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.Home {
  background-color: $light-blue;

  .container {
    padding: 6% 0 8%;
  }
  .userNav {
    text-align: left;
  }
  h2.tagline {
    font-size: 1.875rem;
    margin: 6% 0 8%;
  }
  a.logo {
    width: 320px;
    display: block;
    margin: 0 auto;
    .tecbrand {
      font-weight: 600;
      color: $gray2;
    }
  }
  .QueryBuilder {
    .stmt {
      color: $primary;
      font-size: 3rem;
      font-weight: 300;
    }
    .fuzzy-input {
      background: transparent;
      border: 0 none;
      display: block;
      font-size: 2.15rem;
      width: 100%;
      position: relative;
      top: 5px;
      &#query-materiales {
        border-bottom: 1px solid red;
      }
      &#query-capacidades {
        border-bottom: 1px solid blue;
      }
    }
    .large.btn {
      position: relative;
      top: 20px;
    }
  }
  .queryOptionsContainer {
    width: 60%;
    margin: 4% auto;

    .pill {
      margin: 0 10px;
      margin-bottom: 20px;
      padding: 6px 18px;
      font-size: 1rem;
      display: inline-block;
    }
  }
  .tagBox {
    text-align: left;
    .pill {
      margin: 0 4px 4px;

    }
  }
  .pill {
    &[data-type="materials"] {
      border: 2px solid red;
    }
    &[data-type="capabilities"] {
      border: 2px solid blue;
    }
  }
  .homeFooter p {
    font-size: 1.17rem;
  }
  .searchBtn {
    transition: box-shadow 300ms;
    &:focus,
    &:hover {
      box-shadow: 0 0 30px rgba($highlight, .4);
    }
  }
  .search-form {
    display: none;
  }
}
.ProfilePage {
  h1 {
    font-size: 2.3rem;
  }
  h2 {
    font-weight: 700;
  }
  table.detailsTable {
    tbody tr > td {
      color: $gray1;
      padding-bottom: 5px;
      &:first-child {
        font-weight: 600;
        color: #777;
        padding-right: 40px;
      }
    }
  }
  .Reservations {
    margin: 4% 0 6%;
    table {
      margin-top: 30px;
      width: 100%;
      thead tr > th {
        text-transform: uppercase;
        color: $gray1;
        padding-bottom: 6px;
      }
      tbody tr:hover td {
        background-color: #fafafa;
      }
      tr th:first-child,
      tr td:first-child {
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
      }
      td {
        padding: 10px 0;
        border-bottom: 1px solid #ccc;
      }
    }
  }
}
