// labs.scss

.LaboratoriosList {
  .btn.border {
    display: block;
    width: 90%;
    text-align: center;
    position: relative;
    top: 15px;
  }
  .labList {
    margin-top: 6%;
    .labEntry {
      border-bottom: 1px solid #B5B5C5;
      margin-bottom: 35px;
      padding-bottom: 10px;
      .title {
        font-weight: 700;
      }
      .location, .horarios {
        color: $gray2;
      }
    }
    .taglist {
      position: relative;
      top: 6px;
      margin-left: 20px;
      .pill {
        cursor: default;
      }
      li {
        display: inline-block;
      }
    }
  }
}

.LabDetail {
  h1 {
    position: relative;
    top: -15px;
  }
  p {
    // font-weight: 600;
    color: $gray1;
  }
  h2 {
    font-size: 1.54rem;
    text-transform: uppercase;
    font-weight: 700;
  }
  section {
    margin-bottom: 20px;
  }
  .Espacios, .Equipos {
    margin-bottom: 60px;
  }
  .Equipos h2 {
    margin-bottom: 50px;
  }
  .Espacios h2 {
    margin-bottom: 20px;
  }
  .labspaceTable {
    width: 100%;
    border-spacing: 0 30px;
    border-collapse: separate;
    th {
      color: $gray2;
      text-transform: uppercase;
      font-weight: 700;
    }
    tbody tr {
      background-color: #FAFAFA;
      box-shadow: 0 3px 10px rgba(#000, .1);
    }
    th {
      font-size: 15px;
      padding: 0;
      // padding-bottom: 15px;
      &:first-child {
        padding-left: 20px;
      }
      &:last-child {
        text-align: center;
      }
    }
    td {
      font-weight: 600;
      margin-bottom: 30px;
      padding: 10px 0;
      &:first-child {
        padding-left: 20px;
      }
      &:last-child {
        padding-right: 20px;
      }
    }
    .reserve.btn {
      margin: 5px 0;
    }
  }
  .EquipoGrid {
    .EquipoCard {
      box-shadow: 0 4px 15px rgba(desaturate(#445BFC, 40%), .18);
      border-radius: 20px;
      border-bottom: 2px solid #fff;
      cursor: pointer;
      font-weight: 600;
      margin-bottom: 30px;
      padding: 20px;
      height: 178px;
      transition: all 300ms;
      &:hover {
        box-shadow: 0 4px 15px rgba(desaturate(#445BFC, 20%), .25);
        border-bottom: 2px solid $highlight;
      }
      .name {
        color: $highlight;
        margin-bottom: 0;
        font-size: 1.3rem;
      }
      .horario {
        color: $gray2;
        position: relative;
        // top: -5px;
        font-size: .8rem;
        margin-bottom: 0;
      }
    }
  }
  .icon {
    margin-bottom: 25px;
    background-repeat: no-repeat;
    &.printer {
      background-image: url(image-path("icons/3dprinter.svg"));
      background-size: 60px;
      width: 60px;
      height: 60px;
    }
  }
}

