// admin.css.scss

p {
}
.attribute-data--string {
  font-size: 12px;
  color: #8E8E9D;
  // font-weight: 600;
}

$primary: #191A45;
$fromgradient: #4e73df;
$togradient: #224abe;
$gray1: #8E8E9D;
$highlight: #445BFC;

$light-blue: #F2F4F8;
$gray2: #ACACBC;
$text: $gray2;

html {
  background-color:  $fromgradient;
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(30%, $fromgradient),to($togradient));
  background-image: linear-gradient(180deg, $fromgradient 30%,$togradient 100%);
  background-size: cover;
}
body {
  background: transparent;
}
nav.navigation .navigation__link {
  color: white;
  text-decoration: none;
}
ul.inline li {
  display: inline-block;
}

.main-content {
  background-color: #F8F9FC;
}
.navigation {
  .logo {
    width: 120px;
    display: block;
    margin-bottom: 30px;
  }
  .navigation__link {
    opacity: .8;
    &.navigation__link--active {
      opacity: 1;
      font-weight: 600;
    }
  }
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  // border: 1px solid rgba(0,0,0,.125);
  box-shadow: 3px 0 15px rgba(#000, .1);
  border-radius: 10px;

  .card-body {
    padding: 1.25rem;
    flex: 1 1 auto;
  }
  .card-title{
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 20px;
    // text-transform: uppercase;
    // color: darken($gray1, 20%);
    // color: $fromgradient;
    color: $primary;
  }
}
.EquipmentShow {
  .rightContentPane > .row {
    margin-bottom: 20px;
  }
  p {
    font-size: 12px;
    color: $gray1;
  }
  .content-label {
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 30px;
    color: darken($gray1, 10%);
  }
  .equipment-image {
    width: 100%;
    max-width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

.tagslist .pill {
  margin-bottom: 5px;
}
.pill {
  border-radius: 40px;
  padding: 5px 15px;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  &.white {
    background-color: white;
    color: $highlight;
    box-shadow: 0 2px 8px rgba(#7C86CC,.3);
    transition: box-shadow 300ms;
    &:hover {
      box-shadow: 0 2px 15px rgba(#7C86CC, .5);
    }
  }
  &.gray {
    background-color: $light-blue;
    color: #A4A5AA;
  }
  &.border {
    border: 1px solid $primary;
    color: $primary;
    &.with-cross::after {
      content: '×';
      color: #A4A5C1;
      font-weight: 800;
      margin-left: 5px;
    }
  }
  &.small {
    font-size: 14px;
    padding: 3px 15px;
  }
  &.xsmall {
    font-size: 10px;
    padding: 3px 8px;
  }
}

