// admin.css.scss

@import "base";

$primary: #191a45;
$fromgradient: #4e73df;
$togradient: #224abe;
$gray1: #8e8e9d;
$highlight: #445bfc;

$light-blue: #f2f4f8;
$gray2: #acacbc;
$text: $gray2;

html {
  background-color: $fromgradient;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(30%, $fromgradient), to($togradient));
  background-image: linear-gradient(180deg, $fromgradient 30%, $togradient 100%);
  background-size: cover;
}
body {
  background: transparent;
}

ul.inline li {
  display: inline-block;
}
.attribute-data--string {
  color: $gray1;
  font-size: 12px;
}

.main-content {
  background-color: #f8f9fc;
}
.navigation {
  .logo {
    display: block;
    margin-bottom: 30px;
    width: 120px;
  }
  .navigation__link {
    opacity: .8;
    color: white;
    text-decoration: none;
    &.navigation__link--active {
      font-weight: 600;
      opacity: 1;
    }
    &:hover {
      color: #293f54 !important;
    }
  }
}

.nav-line {
  margin-bottom: 8px;
  border-top: 1.5px solid #eaebeb;
  border-bottom: 1.5px solid #eaebeb;

  .nav-title {
    text-align: center;
    color: #eaebeb;
    font-weight: 700;
    margin: 6px 0;
  }
}

.card {
  background-clip: border-box;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 3px 0 15px rgba(#000, .1);
  display: flex;
  flex-direction: column;
  min-width: 0;
  position: relative;
  word-wrap: break-word;

  .card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
  }
  .card-title {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 20px;
    // text-transform: uppercase;
    // color: darken($gray1, 20%);
    // color: $fromgradient;
    color: $primary;
  }
}
.EquipmentShow {
  .rightContentPane > .row {
    margin-bottom: 20px;
  }
  p {
    color: $gray1;
    font-size: 12px;
  }
  .content-label {
    color: darken($gray1, 10%);
    font-weight: 600;
    margin-top: 30px;
    text-transform: uppercase;
  }
  .equipment-image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-width: 100%;
    width: 100%;
  }
  .ReservationTable {
    text-align: left;
    td {
      padding-left: 0;
      padding-right: 0;
      &:first-child {
        padding-left: 10px;
      }
      a {
        color: $highlight;
      }
    }
  }
  .availableHourTable {
    td {
      padding: 0;
      cursor: default;
      padding-bottom: 2px;
    }
    tr {
      border: 0 none;
    }
  }
}

.tagslist .pill {
  margin-bottom: 5px;
}
.pill {
  border-radius: 40px;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  padding: 5px 15px;
  &.white {
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(#7c86cc,.3);
    color: $highlight;
    transition: box-shadow 300ms;
    &:hover {
      box-shadow: 0 2px 15px rgba(#7c86cc, .5);
    }
  }
  &.gray {
    background-color: $light-blue;
    color: #a4a5aa;
  }
  &.border {
    border: 1px solid $primary;
    color: $primary;
    &.with-cross::after {
      content: '×';
      color: #a4a5c1;
      font-weight: 800;
      margin-left: 5px;
    }
  }
  &.small {
    font-size: 14px;
    padding: 3px 15px;
  }
  &.xsmall {
    font-size: 10px;
    padding: 3px 8px;
  }
}

.LabForm {
  position: relative;
  form {
    margin: 4% 0 15%;
  }
  a {
    outline: 0;
  }
  .selectize-control.txtinput {
    border: 0 none;
    .selectize-input {
      box-shadow: none;
      border: 0 none;
      border-radius: 0;
      border-bottom: 1px solid #bcbcbc;
      padding-left: 0;
      &:focus {
        border-color: $highlight;
      }
      input[type="text"] {
        font-size: 16px;
      }
    }
  }
  .firstrow {
    margin-bottom: 60px;
  }
  .uploadPhoto {
    border: 2px dashed #ccc;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    padding: 0 20px;
    height: 100%;
    img {
      margin-top: 25px;
    }
    &.with-photo {
      .text {display: none;}
    }
    .text {
      color: $gray2 !important;
      font-size: 24px;
      font-weight: 600;
      .large {
        font-size: 3rem;
        line-height: 80%;
      }
    }
  }
  .txtinput {
    font-size: 1rem;
    color: $primary;
    padding-left: 0;
    padding-right: 0;
    transition: border 300ms;
    &:focus {
      border-color: $highlight;
    }
    &.large {
      font-size: 2.8rem;
    }
  }
  ::-webkit-input-placeholder { font-style: normal !important; }
  :-moz-placeholder { font-style: normal !important; }
  ::-moz-placeholder { font-style: normal !important; }
  :-ms-input-placeholder { font-style: normal !important; }
}

// Available hours in equipment form
section.AvailableHours {
  select.inline {
    width: initial;
    display: inline-block;
    margin: 0 20px;
  }
  .scheduleList {
    padding: 0 40px 0 20px;
  }
  .scheduleList-listitem {
    .content {
      display: inline-block;
      margin-right: 20px;
    }
  }
  .addSchedule {
    margin: 20px 0 10px 20px;
  }
}
